<html>

<head>
  <title>Welcome to BSMART scrapping engine</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
  <ul class="list-group">
    {%for i in range(0, len)%}
    <li class="list-group-item">Title: {{listprod[i][0]}}</li>
    <li class="list-group-item">Ref: {{listprod[i][1]}}</li>
    <li class="list-group-item">Image: <img alt="Smiley face" height="100" src="{{listprod[i][2]}}"></li>
    <li class="list-group-item">Desc: {{listprod[i][3]}}</li>
    {%endfor%}

  </ul>
  <a href="/">Back</a>
</body>

</html>
